@import '_func_reset'

global-reset()

body
  color: $black
  background: $white
  font-family: "brandon-grotesque", sans-serif;
  font-size: 29px;
a
  color: $clickable

img
  width: 100%

hr.clear
  margin 0
  padding: 0
  visibility: hidden;
  clear both
