.register
  clear both
  h2
    font-weight: 600;
    text-align: center;
  .header
    font-size: 13vw
    padding 0.8em 0
  .workshop-cover
    background: no-repeat center url("http://res.cloudinary.com/dk0rh65wd/image/upload/v1468201406/worshop/dom-shop-bw.jpg")
    height: 30%

    .info
      display: inline-block;
      color $white
      padding 1em 1.5em
      background: alpha(#1f1f1f, 0.9)
      font-weight: 600
      text-align: center;
      li
        list-style: none
      .time
        font-weight: 400
