.workshop-content
  h2
    text-align: center;
    font-size: 6vw
    margin 1em 0
  p
    clear both
  .avatar
    float left
    width: 28vw
    shape-outside: circle();
    margin-right: 0.8em
    img
      border-radius: 50%
  .text
    display: block;
    padding-top: 10.7vw
    strong
      font-weight: 600
      font-size: 1.8em
  .activity:nth-of-type(2n)
    .avatar
      float right
      margin-right: 0em
      margin-left 0.8em
    .text
      text-align: right
