extends wrapper

block content
  div.home
    header.header
      h1 Photos Forever Workshop
    
    section.pitch
      p.tagline 
        | Train your front & back-of-house to take great photos &
        | Sell more food. </br>
        a(href="#") *time & money back guarantee.
      a.workshop-button(href="/#workshop")
        span.text Reserve a Workshop Seat
      
    
    div.cover
      div.hero-bts-wrapper
        img.hero-bts(src="http://res.cloudinary.com/dk0rh65wd/image/upload/c_scale,w_1200/v1468186573/worshop/hero-bts_nb4xpe.jpg")
        span.method
          | Kitchen,<br/>Smart Phone<br/>& Butcher's Paper
      div
        img.hero(src="http://res.cloudinary.com/dk0rh65wd/image/upload/v1468186578/worshop/hero_ozmbt5.jpg")    
      
    
    div.pitch-secondary
      ul
        li You already present food to customers.
        li Almost everyone has a smart phone with a decent camera.

    div.case-study
      h2 A Case Study 
      article.domingos-case
        h3 Domingo's Italian Deli
        
        div.dom-customer
          img(src="http://res.cloudinary.com/dk0rh65wd/image/upload/c_scale,w_2048/v1468186573/worshop/dom-customer_isrxb7.jpg")
        
        p We sold Salads & Pizzas that were rarely
          | ordered off a text menu. We now invent new sandwiches,
          | take photos and sell it in a day.
          
        hr.clear
    
    div.workshop-content
      h2 What Our Mentors Will Teach You
      
      p.activity
        span.avatar
          img(src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg")
        span.text <strong>Patil</strong> will help you find the best lighting in your restaurant,
          | scourage availabe kitchen items to build a mini photo-set. Also the art of naming.
      
      p.activity
        span.avatar
          img(src="http://res.cloudinary.com/dk0rh65wd/image/upload/c_scale,w_600/v1468263936/worshop/cinzia.jpg")
        span.text <strong>Cinzia</strong> will teach you how to choreograph food for photography
          | without creating a false impression of what the food will look like.
      
      p.activity
        span.avatar
          img(src="http://res.cloudinary.com/dk0rh65wd/image/upload/c_scale,w_600/v1468263936/worshop/sergio.jpg")
        span.text <strong>Sergio</strong> will show you food-presentaion tricks of his own. Also how to present the photos to the customer,
          | and how to get the correct feedback from them.
      
      p.activity
        span.avatar
          img(src="http://res.cloudinary.com/dk0rh65wd/image/upload/c_scale,w_600/v1468254598/worshop/dan.jpg")
        span.text <strong>Dan</strong> will set up an iPad menu for your team to put photos onto.
          | Also how to organize and categorize in Airtable so to get the iPad menu exactly right.
      
    div.register
      h2.header Workshops
      div.workshop-cover
        ul.info 
          li.city Los Angeles
          li.time Monday, July 25th, 2016
          li.loc Domingo's Italian Deli
      
      ul.options
        li You + 2 employees (Early Bird) $449
        li Bring an owner friend + 4 employees (Early Bird) $399
        li You + 2 employees (At the door) $499
    
    
